@import 'base';

$maxWidth: 1080;
$maxWidthContainer: 1080;

@mixin adaptiv-value($property, $startSize, $minSize, $type) {
    $addSize: $startSize - $minSize;
    @if $type==1 {
        //Только если меньше контейнера
        #{$property}: $startSize + px;
        @media (max-width: #{$maxWidthContainer + px}) {
            #{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidthContainer - 320}));
        }
    } @else if $type==2 {
        //Только если больше контейнера
        #{$property}: $startSize + px;
        @media (min-width: #{$maxWidthContainer + px}) {
            #{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth - 320}));
        }
    } @else {
        //Всегда
        #{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth - 320}));
    }
}

/*!Проверка границ!*/
/*
* {
  outline: solid red;
}*/

html {

  }
  body {
    font-family: "Roboto", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  }

  .fa {
    color: #4a1100;
    font-size: 24px;
  }

  .icon-circle {
    text-align: center;
    width: 46px;
    height: 46px;
    line-height: 46px;
    border-radius: 23px;
    background-color: #ffffff;
  }

  .icon-circle i {
    line-height: 46px;
  }

  
  .wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
  }

  .container {
    max-width: 1080px;
    overflow: hidden;
    margin: 0 auto;
  }

  /*______________ Cards_______________ */

  .cards {
    background-color: #dbcfcc;
    @include adaptiv-value(padding-top, 77, 25, 0);
    @include adaptiv-value(padding-bottom, 122, 15, 0);
  }

  .cards__title {
    @include adaptiv-value(margin-bottom, 73, 25, 0);
  }

  .cards__title h1 {
    @include adaptiv-value(font-size, 55, 30, 0);
    text-align: center;
    font-weight: 400;
    text-transform: uppercase;
    color: #ad6c12;
  }

  .cards__row { 
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    margin: 0px 0px;
  }
  
  .cards__item {
    display: flex;
    overflow: hidden;
    flex: 0 0 31.15%;
    flex-direction: column;
    padding: 0px 0px;
    border-radius: 5px;
  }

  .card__image {
    max-width: 100%;
  }

  .card-body {
      display: flex;
      flex-direction: column;
      background-color: #ffffff;
      padding: 25px 60px 26px 21px;
      flex: 1 1 auto;
  }

  .card-text_date {
    font-size: 14px;
    line-height: 14px;
    font-weight: 700;
    letter-spacing: 1px;
    color: #555555;
    margin: 0px 0px 23px 0px;
  }

  .card-text_title {
    font-size: 16.7px;
    font-weight: 700;
    color: #4f4e4e;
    margin: 0px 0px 5px 0px;
  }

  .card-text_description {
    flex: 1 1 auto;
    font-size: 16.7px;
    line-height: 1.2;
    font-weight: 400;
    color: #4f4e4e;
    margin: 0px 0px 15px 0px;
}


  .card-text_button a{
    font-size: 14px;
    line-height: 33px;
    font-weight: 700;
    letter-spacing: 0.075em;
    text-transform: uppercase;
    color: #555555;
    margin-right: auto;
    border-bottom: 7px solid #ff992b;
  }

  .card-text_button a:hover {
    border-bottom: none;
  }

  /*______________Quote_______________ */

  .quote {
      background-color: #4a1100;
      padding: 39px 0px 48px 0px;
  }

  .quote-quotes {
      text-align: center;
      font-family: 'Raleway', sans-serif;
      font-size: 83.4px;
      font-weight: 700;
      color: #ffffff;
      margin: 0px 0px -26px 0px;
  }

  .quote-text {
      font-family: 'Raleway', sans-serif;
      text-align: center;
      font-size: 18.8px;
      line-height: 33px;
      font-weight: 400;
      margin: 0px 0px 17px 0px;
      color: #ffffff;
  }

  .quote-author {
    text-align: center;
    font-size: 18.8px;
    line-height: 33px;
    font-weight: 700;
    margin: 0px 0px 34px 0px;
    color: #ffffff;
  }

  .quote-row {
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
  }

  .item {
      padding: 0px 25px 0px 0px;
  }

  /*______________ Footer_______________ */
  
  .footer {
    background-color: #dbcfcc;
    padding: 63px 0px 80px 0px;
  }
  .footer__row {
    display: flex;
    flex-flow: row wrap;
  }
  .footer__description {
    flex: 1 1 312px;
  }
  .footer__description-title {
    font-size: 25px;
    line-height: 33px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0px 0px 50px 0px;
    color: #2d2f2a;
  }
  .footer__description-text {
    font-size: 18.8px;
    line-height: 29px;
    color: #2d2f2a;
  }

  .footer__links {}
  
  .footer__link-title {
    font-size: 20.9px;
    line-height: 33px;
    font-weight: 700;
    text-transform: uppercase;
    color: #2d2f2a;
    margin: 0px 0px 51px 0px;
  }

  .footer__link {
    font-size: 20.9px;
    line-height: 33px;
    font-weight: 700;
    color: #2d2f2a;
  }
  .footer__column {
    display: flex;
    flex-direction: column;
    margin: 0px 118px 0px 0px;
  }

  @import 'adaptive';